@model AspNet.AzureStorage.Sample.ViewModels.FileUploadViewModel

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<form method="POST" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <button class="uploadwrapper" type="button">
        Voeg afbeelding toe
        @Html.TextBoxFor(m => m.UploadFile, new { id = "uploadfield", type = "file" })
    </button>
    
    <input type="submit" name="save" value="Verstuur" id="uploadsubmit">
</form>

<ul id="Filelist">
    
</ul>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
